body {
  background: #000;
  color: #555;
}

.plane {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 420px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white(0.0);

  .banner-wrap {
    padding-top: 50%;
    background: #444;
    background-image: url(/assets/img/landon.jpg);
    background-size: cover;
    background-position: center center;
  }

  .main {
    flex-grow: 1;
  }
}

.main {
  display: flex;
  flex-direction: column;

  .content {
    padding-top: bl(1);
    padding-bottom: bl(1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    display: flex;
    font-size: bl(0.6);
    line-height: bl(0.8);
    color: #999;
    font-family: 'Inconsolata', monospace;

    div {
      width: 25%;
      position: relative;
      text-align: center;

      &:not(:last-child) {
        &:after {
          content: ':';
          position: absolute;
          left: 100%;
          top: 50%;
          transform: translateX(-50%) translateY(-80%);
          font-size: bl(1.2);
          color: #666;
        }
      }

      span {
        color: #fff;
        display: block;
        font-size: bl(2.2);
        line-height: bl(2.7);
        font-family: 'Inconsolata', monospace;
      }
    }
  }

  p {
    font-size: bl(0.8);
    line-height: bl(1.2);
    color: #999;
    margin-top: bl(3);
    // font-family: 'Inconsolata', monospace;
    // text-align: justify;
    // hyphens: auto;
    // word-break: break-all;
  }

}

h2 {
  text-align: center;
  margin-top: bl(0.5);
}

.actions {
  padding: bl(1);
  position: relative;

  h2 {
    span {
      font-weight: bold;
      color: #fff;
    }
  }

  .action-confirm {
    padding: bl(1);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transform: translateY(100%);
    transition: all 0.2s;
    background: #222;

    .confirm-is-active & {
      transform: translateY(0px);
    }
  }

  h2 {
    margin-top: 0px;
    margin-bottom: bl(0.75);
  }

  button {
    border-radius: 5px;

    &.button-white {
      color: #000;
    }

    &.is-ghost {
      color: #888;
    }
  }
}

